<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InputFileFolder" value="C:\Projects\BusinessCardParser\BusinessCardParser\Input"/>
    <add key="InputFileExt" value=".txt"/>
    <add key="NamesList" value="C:\Projects\BusinessCardParser\BusinessCardParser\NAMES.txt"/>
  </appSettings>
</configuration>